<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body style="background-color:aliceblue;"><center>
  <h1 style="color:2px solid black;font-family:Papyrus;">Result</h1>  
 
  <img src="static/thyrid.jpg"height="255"width="546"alt="hai"></img>
  <h2>Thyroid disease involves the butterfly-shaped gland in the neck producing too much (hyperthyroidism) or too little (hypothyroidism) hormone, impacting metabolism, heart rate, and temperature. Symptoms include weight changes, fatigue, anxiety, and depression. Causes include autoimmune disorders like Hashimoto's and Graves' disease, and treatments include medication, radioiodine therapy, or surgery</h2>
  <form>
   <h1> {{data}} </h1>
  </form>
</center>
</body>
</html>